 /* Form chat */
 .box-chat {position: fixed;bottom:0px;width: 100%;border-top: 1px solid white; }
#formSendMsg input[type=text] {width: 100%; padding: 5px; font-size: 13px;float: left; color: #555;}
 
/* Show chat */
.main-chat {padding: 10px 10px 10px 10px; font-family: Arial;font-weight: bold; }
.main-chat .msg-user {width: 100%; text-align: right; margin-bottom: 15px;}
.main-chat .msg-user p {border-radius:20px;background-color: #428bca; color: white; display: inline-block; padding: 5px; font-size: 13px;}
.main-chat .msg {width: 100%; text-align: left;margin-bottom: 15px;}
.main-chat .msg p {border-radius:20px;background-color: #f1f1f1; color: black; display: inline-block; padding: 5px; font-size: 13px;}
.main-chat .msg-user .info-msg-user,
.main-chat .msg .info-msg {font-size: 11px; color: #666;}
